/* Global */
*{
  font-family: 'Indie Flower', 'cursive';
}

body{
  background: darksalmon;
}

#logo{
  margin:0;
  text-align: center;
  font-size: 4em;
}

/*  img{
 animation: vibrate .1s infinite;
} */ 

@keyframes vibrate {
  0%{ transform: rotate(-5deg)}
  25%{ transform: rotate(5deg)}
  50%{ transform: rotate(-5deg)}
  75%{ transform: rotate(5deg)}
  100%{ transform: rotate(-5deg)}
}

.controls{
  display: flex;
  justify-content: center
}

.control-block{
  margin: 0 100px;
}

.control-block .title{
  font-size: 40px;
  margin: 0
}

.control-block .actions{
  display: flex;
}
.control-block .actions h1 {
  font-size: 3em;
  margin: 0 30px;
}

.control-block .actions button{
  width: 60px;
  height: 60px;
  font-size: 50px;
  line-height: 20px;
}

/* Timer */

#timer{
  width:500px;
  height: 500px;
  margin:0 auto;
  padding: 3px;
  border: 2px solid green;
  border-radius: 50%;
  cursor: pointer;
}

#background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width:500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
}

#timer-cover{
  position:absolute;
  top:10%;
  height:100%;
  width:100%;
  background:green;
  z-index: 0;
  text-align: center;
}

#timer-label {
  position: absolute;
  top:10%;
  z-index: 1;
  font-size: 3rem;
}

#time-left{
  font-size: 5rem;
  z-index: 1;
  width:32%;
}

#background button{
  font-size: 2em;
  z-index: 1;
  
}

