/* Global */

body{
  background: darksalmon
}

#logo{
  text-align: center;
  font-family: 'Indie Flower', 'cursive';
  font-size: 4em
}

/*  img{
 animation: vibrate .1s infinite;
} */ 

@keyframes vibrate {
  0%{ transform: rotate(-5deg)}
  25%{ transform: rotate(5deg)}
  50%{ transform: rotate(-5deg)}
  75%{ transform: rotate(5deg)}
  100%{ transform: rotate(-5deg)}
}

/* Timer */

#timer{
  width:500px;
  height: 500px;
  margin:auto;
  padding: 3px;
  border: 2px solid green;
  border-radius: 50%;
}

#background{
  position: relative;
  width:500px;
  height: 500px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

#background div{
  position:absolute;
  top:0%;
  height:100%;
  width:100%;
  background:green;
  padding-top: 50%;
}